{% extends 'base.html' %}

    {% block navbar %}
    <div class="header">
        <div class="logo">
            <h2>YUMMY RECIPES</h2>
        </div>

        <div class="search">
            <div class="sch">
                <form action="">
                    <input type="search" placeholder="      Search..." id="sch">
                </form>
            </div>
            
        <div>
            <a href="{{ url_for('logout') }}"><button id="logout">Logout</button></a>
        </div>    
        <div>
            <a href="{{ url_for('dashboard', username = username) }}"><button id="dash">Dashboard</button></a>
        </div>       
        </div>
    </div>

    <div class="nav">
        <div class="gap">
            <div><a href="{{ url_for('home', username = username) }}"><h3>Home</h3></a></div>
            <div><a href="{{ url_for('categories', username = username) }}"><h3>Categories</h3></a></div>
            <div><a href="{{ url_for('recipes', username = username) }}"><h3>Recipes</h3></a></div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    
    <div class="main">

        <div class="container">

            <form action="" method="POST" enctype="multipart/form-data">
                
                
                <div class="recipe">
                    <div class="title"><h1>Edit Recipe</h1></div>

                    <div><label for="title">Recipe Name:</label> 
                    <input type="text" id="recipeName" name="recipe">
                                          
                    </div>

                                   
                    <div class="choose"><label for="categories">Category:</label> 
                        <select id="categories" name = "category">
                            {% for category_name in the_categories %} 
                           <option  value="{{ category_name }}">{{ category_name }}</option>
                           {% endfor %}
                        </select>  
                       
                    </div>
                    
                    <div class="dist"><label for="ingredients">Ingredients:</label>                      
                        <textarea name="ingredients" id="" cols="30" rows="10"></textarea>                       
                    </div>

                    <div class="dist"><label for="instructions">Instructions:</label>                  
                        <textarea name="instructions" id="" cols="30" rows="10"></textarea>                       
                    </div>

                    <div id="add-recipe"><button type="submit">Submit</button></div>

                </div>
                
            </form>

        </div>

    </div>

    {% endblock %}