{% extends 'base.html' %}

    {% block navbar %}
    <div class="header">
        <div class="logo">
            <h2>YUMMY RECIPES</h2>
        </div>

        <div class="search">
            <div class="sch">
                <form action="">
                    <input type="search" placeholder="      Search..." id="sch">
                </form>
            </div>
            
        <div>
            <a href="{{ url_for('logout') }}"><button id="logout">Logout</button></a>
        </div>    
        <div>
            <a href="{{ url_for('dashboard') }}"><button id="dash">Dashboard</button></a>
        </div>       
        </div>
    </div>

    <div class="nav">
        <div class="gap">
            <div><a href="{{ url_for('index') }}"><h3>Home</h3></a></div>
            <div><a href="{{ url_for('categories') }}"><h3>Categories</h3></a></div>
            <div><a href="{{ url_for('view_recipes') }}"><h3>Recipes</h3></a></div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    
    <div class="main">

        <div class="container">


            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                
                <div class="recipe">
                    <div class="title"><h1>Edit Recipe</h1></div>

                    <div><label for="title">Recipe Name:</label> 
                    <!-- <input type="text" id="recipeName"> -->
                    {{ form.title (type="text") }}
                        
                    </div>
                    
                    <div class="choose"><label for="categories">Choose Category:</label> 
                   <!-- <select id="categories">
                        <option value="Dish">Dish</option>
                        <option value="Drinks">Drinks</option>
                        <option value="Baking">Baking</option>
                        <option value="Fruit salad">Fruit Salad</option>
                    </select>  --> 
                    {{ form.category (id="categories") }}
                    </div>
                   

                    <ul>
                        {% for error in form.category.errors %}
                            <li style ="color:red; "> {{ error }} </li>
                        {% endfor %}
                    </ul>

                   {# <div class="upload"><label for="upload">Upload Image:</label>
                        <!-- <input type="file" id="myFile" name="image"> -->
                        {{ form.image (type="file") }}
                    </div> 
                    #}

                    <div><label for="ingredients">Ingredients:</label>                       
                        <!-- <textarea name="ingredients" id="" cols="30" rows="10"></textarea> -->
                        {{ form.ingredients( cols="30", row="10") }}
                    </div>

                    <div><label for="instructions">Instructions:</label>                   
                        <!-- <textarea name="instructions" id="" cols="30" rows="10"></textarea> -->
                        {{ form.instructions( cols="30", row="10") }}
                    </div>

                   

                    <div id="add-recipe"><button type="submit">Add Recipe</button></div>

                </div>
                
            </form>


        </div>

    </div>

    {% endblock %}

       