
        {% extends 'base.html' %}

        {% block navigation %}
    
                <div>
                    <a href="{{ url_for('dashboard', username = username) }}"><button id="dash">Dashboard</button></a>
                </div>
                <div>
                    <a href="{{ url_for('logout') }}"><button id="logout">Logout</button></a>
                </div>

        {% endblock %} 


        {% block content %}
        <div class="main">
            <div class="welcome">
                <div class="image">
                    <img src="{{ url_for ('static', filename='images/food.jpg') }}" width="80%" height="80%" >
                </div>

                <div class="message">
                    <h1>Welcome to The Hub For Finger licking Recipes</h1>
                </div>
            </div>
        </div>
        <hr style="margin: 0 2rem 0 2rem;" >

       <div class="recipes">
            <h2 class="remedy">RECIPES</h2>

            {% for key, value in the_recipes.items() %}
            <div class="particular">
                <div id="part">
                    <img src="{{ url_for ('static', filename='images/recipe.jpg') }}" alt="" height="60px" width="80px">
                </div>
                <div>
                
                    <a href="{{ url_for('recipes', username = username) }}"><h3>{{ key }}</h3></a>
                    
                    <hr>
                    <p>{{ value.category }}</p><br>
            
                </div>
            </div>
            {% endfor %}
       </div> 
       {% endblock %}

       