<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/register.css') }}">
</head>
<body>
    <div class="main">

        {% for message in get_flashed_messages() %} 
            
        <div style="background-color: red; padding-top: 10px;">
           
            {{ message }}  
            
        </div>
       
        {% endfor %} 

        <div class="container">


            <form action="" method="POST">
            {#    {{ form.hidden_tag() }}  #}
                <div class="title"><h1>Login</h1></div>
                
                <div class="user"><label for="username">Username</label>
                    <br>
                    <input type="text" size="50" name="username">
                {#    {{ form.username ( size=50, type="text") }} #} 
                </div>

                <div class="guide">
                    <div><label for="password">Password</label>
                    <br> 
                    <input type="password" size="50" name="password">
                {#     {{ form.password ( size=50, type="password") }}  #} 

                    </div>

                </div>
 
                <div id="submit"><button type="submit">Login</button></div>
                
                <div class="yes">
                    <div class="confirm" >
                        <p >
                            <small >Don't have an account ?</small>
                            <a href=" {{ url_for ('signup') }} ">Signup</a>
                        </p>
                    </div>
                    <br>
    
               
                    <div class="confirm">
                    <p>
                        <small >Forgot password ?</small>
                        <a href="#">click me</a>
                    </p>
                    </div>
                </div>

                
            </form>


        </div>

    </div>
  
</body>
</html>