{% extends 'base.html' %}

{% block navbar %}
    <div class="header">
        <div class="logo">
            <h2>YUMMY RECIPES</h2>
        </div>

        <div class="search">
            <div class="sch">
                <form action="">
                    <input type="search" placeholder="      Search..." id="sch">
                </form>
            </div>
            
            <div>
                <a href="{{ url_for('dashboard', username = username) }}"><button id="dash">Dashboard</button></a>
            </div>
            <div>
                <a href="{{ url_for('logout') }}"><button id="logout">Logout</button></a>
            </div>
           
            
        </div>
    </div>

    <div class="nav">
        <div class="gap">
            <div><a href="{{ url_for('home', username = username) }}"><h3>Home</h3></a></div>
            <div><a href="{{ url_for('categories', username = username) }}"><h3>Categories</h3></a></div>
            <div><a href="{{ url_for('create_recipe', username = username) }}"><h3>Add Recipe</h3></a></div>
        </div>
    </div>
    {% endblock %}

{% block content %}
<div class="recipes">
    <h2 class="remedy">RECIPES</h2>

    {% for key, value in the_recipes.items() %}
    <div class="particular">
        <div id="part">
            <img src="{{ url_for ('static', filename='images/recipe.jpg') }}" alt="" height="60px" width="80px">
        </div>
        <div>
           
            <h3>Recipe Title: {{ key }}</h3> <span><small>Posted By: {{ username }}</small></span>
            <hr><br>
            <p><strong><em>Category:</em> {{ value.category }}</strong></p><br>

            <p><strong><em>Ingredients:</em></strong> <br> {{ value.ingredients }}</p><br>

            <p><strong><em>Instructions:</em></strong> <br> {{ value.instructions }}</p><br>

            <div class="my_cat">

                <div>
                    <a href="{{ url_for('edit_recipe', username = username, recipe_name = recipe_name) }}"><button id="edit">Edit</button></a>
                </div>
        
                <div>
                    <a href="{{ url_for('delete_recipe', username = username, recipe_name = recipe_name) }}"><button id="delete">Delete</button></a>
                </div>
               </div>
            
        </div>
    </div>
    {% endfor %}
   </div> 
   
{% endblock %}